body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
	padding:0;
	margin:0 2% 0 2%;
}

img{
	float: left;
}

h1{
	text-align: center;
	padding-top: 100px;
	margin-top: 0px;
}

div{
	clear: both;
}

p{
	margin: 10px 0 10px 0;
}

a:visited{
	color: blue; 
}

fieldset{
	margin-bottom: 20px;
	margin-top: 5px;
	display: block;
}

label{
	display: block;
	margin-top:5px;
	padding: 5px;
	cursor: pointer; 
}

label:hover{
	background-color: #dadada; 
}

li{
	margin: 15px;
}

.search{
	display: inline;
	cursor: pointer;
	margin-bottom: 20px;
}

.valider{
	color: #fff;
	background-color:#2970ff;
	padding: 10px 20px 10px 20px;
	margin: 15px; 
	border: solid 1px;
	cursor: pointer;
}

.valider:hover{
	background-color: #294aff;
}

.menu{
	margin-top: 20px; 
	margin-bottom: 20px;
	background-color: #2970ff;
    overflow: hidden;
}

.menu ul{
		padding: 0;
		margin: 0;
	}

.menu li{
	display: inline-block;
	text-align: center;
    text-decoration: none;
    font-size: 17px;
    list-style: none;
	padding: 15px;
	margin: 0;
}

.menu li:hover{
	background-color: #294aff;
}

.menu a{
	color: #fff;
	text-decoration: none;
	padding: 15px;
}

.corps{
	margin: 0 3% 0 3%;
}

.deroule{
	cursor: pointer;
	display: block;
}

.deroule:hover{
	background-color: #dadada
}

@media (max-width: 600px) {
	.menu li{
		display: block;
	}
}